name: main
on:
  pull_request:
  push:
    branches:
    - master
    tags:
    - v*
env:
  GODEBUG: cgocheck=2
jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        go-version:
        - stable
        - oldstable
    runs-on: ubuntu-22.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get install -y libgeos-dev
    - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
      with:
        go-version: ${{ matrix.go-version }}
    - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
    - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Generate
      run: |
        go generate ./...
        git diff --exit-code
    - name: Build
      run: go build ./...
    - name: Test
      run: go test -race ./...
  lint:
    runs-on: ubuntu-22.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get install -y libgeos-dev
    - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
      with:
        go-version: stable
    - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
    - uses: golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5
      with:
        version: v1.51.2