name: main
on:
  pull_request:
  push:
    branches:
    - master
    tags:
    - v*
env:
  GOTOOLCHAIN: local
jobs:
  main:
    runs-on: ubuntu-22.04
    steps:
    - name: install-dependencies
      run: |
        sudo apt-get install -y libgeos-dev
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      with:
        go-version: stable
    - name: generate
      run: |
        go generate ./...
        git diff --exit-code
    - name: build
      run: go build ./...
    - name: test
      run: go test -race ./...
    - name: test-examples
      run: ( cd examples && go test -race ./... )
  lint:
    runs-on: ubuntu-22.04
    steps:
    - name: install-dependencies
      run: |
        sudo apt-get install -y libgeos-dev
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      with:
        go-version: stable
    - uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd
      with:
        version: v2.1.1
  geos-versions:
    strategy:
      fail-fast: false
      matrix:
        geos-version:
        - 3.10.2 # Used in Ubuntu 22.04 LTS
        - 3.10.7 # Latest 3.10.x
        - 3.11.5 # Latest 3.11.x
        - 3.12.1 # Used in Ubuntu 24.04 LTS
        - 3.12.3 # Latest 3.12.x
        - 3.13.1 # Latest
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
      id: cache-geos
      with:
        path: ~/work/geos-${{ matrix.geos-version }}
        key: ${{ runner.os }}-geos-${{ matrix.geos-version }}
    - name: build-geos
      if: ${{ steps.cache-geos.outputs.cache-hit != 'true' }}
      run: |
        cd ~/work
        curl https://download.osgeo.org/geos/geos-${{ matrix.geos-version }}.tar.bz2 | tar xjf -
        cd geos-${{ matrix.geos-version }}
        mkdir _build
        cd _build
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_POLICY_VERSION_MINIMUM=3.5 ..
        make -j4
        ctest
    - name: install-geos
      run: |
        cd ~/work/geos-${{ matrix.geos-version }}/_build
        sudo make install
    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      with:
        go-version: stable
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - name: test
      run: |
        sudo ldconfig
        go test ./...